.body_page {
    width: 100%;
    max-width: 1000px;
    margin: 31px auto 0 auto;
    font-family: 'Manrope', 'Montserrat', sans-serif
}

/* Хедэр */

.header {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
 
}

.header_logo {
   padding-bottom: 5px;
   padding-left: 20px;
}


.header_menu {
    display: inline-block
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    padding-top: 37px;
    padding-left: 20px;
    padding-right: 5px;   
}


.header_menu a {
    margin: 0 15px;
    color: #000;
    text-decoration: none;
}


.header_menu a:hover {
color: #023A62;
}


.content {
    padding: 0 20px 10px 20px;
}

/* Лид */

.content_lid {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-bottom: 100px;
 
}

.content_lid_suptitle {
font-family: 'Montserrat';
font-weight: 600;
font-size: 29px;
line-height: 35px;
letter-spacing: 0.03em;
margin-bottom: -12px;

}

.content_title {
font-family: 'Montserrat';
font-weight: 700;
font-size: 110px;
line-height: 134px;
letter-spacing: 0.03em;
color: #930505;
margin-block-start: 0;
margin-bottom: -7px;
}


.content_lid_text {
width: 100%;
max-width: 622px;
font-family: 'Manrope';
font-weight: 400;
font-size: 22px;
line-height: 24px;
letter-spacing: 0.02em;
margin-bottom: 33px;

}

.button {
display: inline-block;
padding: 6px 79px 14px 91px;
font-family: inherit;
font-weight: 700;
font-size: 32px;
line-height: 44px;
color: #fff;
background-color: #930505;
text-decoration: none;
}

.button:hover {
background-color: #fff;
border: 2px solid #930505;
color: #930505;
}

/* Основной контент */

.content_main {
       margin-bottom: 94px;
}


.content_h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.03em;
    margin-bottom: 22px;
   }

.content_box {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

 
.content_box_left {
    width: 50%;
    max-width: 470px;
   margin-right: 20px;
}

.content_box_right {
   width: 50%;
   max-width: 470px;
    
}
  

.context_box_left_pic{
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
       }
   
       .context_box_right_pic{
        display: block;
        max-width: 100%;
                 }

.content_box_left_article   {
   display: flex;
   flex-direction: column;
      }
     
.content_h3 {
font-family: 'Montserrat';
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #023A62;
margin-block-start: 0;
margin-bottom: 5px;
}

.content_paragraph {
width: 100%;
max-width: 470px;
font-family: 'Manrope';
font-weight: 400
font-size: 16px;
line-height: 20px;
letter-spacing: 0.02em;
margin: 0;

}

.content_price {
    font-family: inherit;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.02em;
    margin-bottom: 44px;

}

.content_link {
    display: flex;
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #023A62;
    text-decoration: none;
    
    }
  
    .content_link:hover {
    color: #930505;
    }



/* Футер */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
   
}


.footer_box_left{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-top: 25px;
}

.footer_menu {
    display: inline-block
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 57px;
    padding-left: 3px;
   }


.footer_menu a {
    color: #000;
    text-decoration: none;
    margin: 0 15px;
}

.footer_menu a:hover {
color: #023A62;

}

.footer_logo{
padding-top: 47px;
padding-right: 20px;
padding-bottom: 7px;
}


.footer_phone {
    font-family: inherit;
    font-weight: 400;
    font-size: 38px;
    line-height: 52px;
 padding-left: 19px;

   }


   /* Адаптивность */

   /* Планшет */
   @media (max-width: 820px) {

.content_lid_suptitle {
    font-size: 24px;
    }

.content_title {
   font-size: 90px;  
    }

.content_box_left {
    width: 50%;
    max-width: 320px;
          }
    
.content_box_right {
    width: 50%;
    max-width: 320px;
           }

.content_pillow{
justify-content: center;

}

.content_h2 {
    text-align: center;
}



.content_box {
    justify-content: center;
     }

   .footer_logo{
    display: none;       
    }
}

/* Мобилка */

@media (max-width: 440px) {

    .body_page {
        margin: 0;
    }

    .header {
  
           margin-bottom: 30px;
          
    }
    
.header_logo {
display: none;
 }

 .header_menu {
    font-size: 20px;
    line-height: 28px;

}
.header_menu a {
  
    margin: 0 10px;
}

.content {
       justify-content: center;
}

.content_lid{
    margin-bottom: 40px;
}

.content_lid_suptitle {
font-size: 18px;
          
}

.content_title {
font-size: 60px; 
line-height: 90px;

}

.content_lid_text {
 
font-size: 16px;
line-height: 20px;
     
}

.content_lid_button {
padding: 10px 61px 10px 69px;
font-size: 25px;
line-height: 38px;
}

.content_main {
    margin-top: 0;
    margin-bottom: 95px;
}
.content_box_left {
width: 100%;
}
        
.content_box_right {
width: 100%;

             
}

.content_price {

 margin-bottom: 10px;
}

.content_link {
display: flex;
justify-content: center;
margin-bottom: 15px;
          
}    

.footer_menu {
    font-size: 16px;
    line-height: 22px;
}

.footer_menu a {
    margin: 0 8px;
}

.footer_nav_link {
 
    margin: 0 10px;
}

.footer_logo {
display: none;       
}

.footer_phone {

    font-size: 30px;
    line-height: 48px;
       }

       
}
  